body {
  background-color: #f3f3f3;
  font-family: 'Mona Sans', sans-serif;
}

.intro p {
  text-align: justify;
}

.header {
  display: flex;
  justify-content: flex-end;
  background-color: #333;
}

.header a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Add space at the top for content */
.content {
  display: flex;
  flex-wrap: wrap;
  
}



/* New styling for image and text section */
.image-section, .text-section {
  display: inline-block; 
}

/* Style for your profile picture */
#profile-pic {
  width: 300px;
  height: 300px;
  margin-top: 2em;
 
  flex-shrink: 0;   
}

/* Styles for your introduction text */
.text-section .intro {
  flex-grow: 1;
 
  text-align: justify;
}

/* Styles for your introduction text */

.highlight {
  color: black;
}
