/* Overall body settings */
body {
  background-color: #f3f3f3;
  font-family: 'Mona Sans', sans-serif;
}

/* Header settings */
.header {
  display: flex;
  justify-content: flex-end;
  background-color: #333;

}

.header a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Container settings */
.container {
  display: flex;
  flex-direction: column;
}

/* Content settings */
.content {
  display: flex;  /* This makes the elements within to align horizontally */
  align-items: flex-start; /* Align items at the start of cross axis */
}

.scholar {
  /* Add your custom styles here. For instance: */
  margin-left: 20px; /* adds space between the CV and Google Scholar links */
}

/* Profile picture settings */
#profile-pic {
  width: 400px;
  height: 400px;
  margin-right: 1em;
  margin-top: 4em;
}

/* Introduction text settings */
.intro {
  flex-grow: 2;  /* Allows this element to take up remaining space */
  text-align: justify;
}

/* Name highlighting */
.highlight {
  color: black;
}
