body {
  background-color: #f3f3f3;
  font-family: 'Courier', sans-serif;
}


.intro p {
  text-align: justify;
}



.header {
  display: flex;
  justify-content: flex-end;
  background-color: #333;
}

.header a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Add space at the top for content */
.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8em;  /* Add space at the top */
}

/* Style for your profile picture */
#profile-pic {
  max-width: 300px;
  max-height: 300px;
  margin-right: 2em; /* Add some margin for tighter wrapping */
  flex-shrink: 0;    /* Prevents the image from shrinking */
}

/* Styles for your introduction text */
.intro {
  flex-grow: 1;
  text-align: justify;
}


.highlight {
  color: black;
}
